.bg-img{
	background: url(https://images.pexels.com/photos/326240/pexels-photo-326240.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb) no-repeat center center fixed transparent;
    height: 100vh;
    background-size: cover;
	    .card-bg-color{
		background-color: #fdfdfd;
	    border-radius: 4px;
		}
}
.card-size{
	width: 30%;
	min-height: 400px;
	.error-msg{
		color: red;
		font-weight: 500;
	}
}
